<div class="tops-body">
<h2 class="tops-main-title">ようこそ、Mitanoへ！</h2>
<h4>Mitanoはビジネスに関する知識を共有・蓄積するためのツールです</h4>

<h4 class="tops-title alert alert-warning">「Mitano見たの？」分からないことはまず「Mitano」で調べましょう</h4>
<div class="tops-content panel panel-default">
  <p>Mitanoにはビジネスの現場における生の声が数多く共有されております</p>
  <p>「経営戦略を作れと言われたけどどう詰めていけば良いのか分からない・・・」</p>
  <p>「マーケティング施策は色々考えたがどこから着手すべきか・・・」</p>
  <p>そんな悩めるビジネスパーソンの考える「プロセス」において</p>
  <p>Mitanoは少しでも解決のお手伝いしたいと考えております</p>
</div>

<h4 class="tops-title alert alert-warning">「Mitano見ました？」ご自身のアピールに「Mitano」を使いましょう</h4>
<div class="tops-content panel panel-default">
  <p>Mitanoではご自身の知識を共有することができます</p>
  <p>積み上げてきた成果だけでなくどのように考えて実行したか</p>
  <p>考える「プロセス」を共有することでアピールに使うことができます</p>
  <p>またMitanoでアウトプットすることで自身の振り返りや仲間とのディスカッションもできます</p>
  <p>Mitanoは少しでもスキルアップやステップアップのお手伝いをしたいと考えております</p>
</div>

</div>
