<div id="follow_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <%= link_to "", user_followings_path(user.id), method: :post, class: "glyphicon glyphicon-link follow-btn" %>
  <% else %>
    <%= link_to "", user_followings_path(user.id), method: :delete, class: "glyphicon glyphicon-link unfollow-btn" %>
  <% end %>
</div>
