/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  margin: 1%;
}

.navbar {
  background-color: #fffacd;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
}

.navbar-brand {
  color: #8f6552;
  font-size: 35px;
  margin: 10px 0;
  padding-left: 350px;
}

.dropdown {
  padding-right: 300px;
  margin-left: 10px;
}

.dropdown-menu {
  margin-right: 180px;
  margin-left: 10px;
}

.page {
  padding-top: 70px;
}

.alert {
  margin-top: 20px;
}

.new_article {
  margin: -10px 30px;
}

.new_user_session {
  margin: -10px 30px;
}

.btn-new-user-session {
  color: #ffffff;
  font-size: 15px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
}

.btn-new-article {
  color: #ffffff;
  font-size: 15px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
}

.btn-new-article:hover, .btn-new-article:active {
  color: #ffffff;
  background-color: #8f6552 !important;
  border: 1px solid #8f6552 !important;
  opacity: 0.6;
}

.icon_image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #e8c59c;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
  background: #f6e5cc;
}

.footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  height: 35px;
  background-color: #946c45;
}

.footer-text {
  color: #ffffff;
}
