/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min
 *= require_self
 */

body {
}

.navbar {
  background-color: #fffacd;
}

.navbar-brand {
  color: #8f6552;
  font-size: 25px;
  margin: 10px 0;
}

.new_article {
  margin: -10px 20px;
}

.btn-new-article {
  color: #ffffff;
  font-size: 15px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
}

.btn-new-article:hover, .btn-new-article:active {
  color: #ffffff;
  background-color: #8f6552 !important;
  border: 1px solid #8f6552 !important;
  opacity: 0.6;
}

.icon_image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}
