// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// index

a:hover {
  text-decoration: none;
}

.article_icon_image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
}

.search_flame {
  margin: 15px 0;
}

#name_search_feild {
  width: 630px;
  margin-right: 10px;
}

.card-body {
  background-color: #ffffff;
  width: 700px;
  border-bottom: solid 1px #d3d3d3;
  padding: 15px 10px;
  margin-bottom: 5px;
}

.article_user_name {
  color: #000000;
  margin: 5px 10px 5px 3px;
}

.article_user_name:hover {
  color: #000000;
  text-decoration: none;
}

.edit-icon {
  margin-right: 5px;
  color: #808080;
}

.edit-icon:hover {
  text-decoration: none;
}

.delete-icon {
  color: #808080;
}

.delete-icon:hover {
  text-decoration: none;
}

.like-btn {
   font-size: 25px;
   color: #808080;
  }

.like-btn:hover {
   text-decoration: none;
  }

.like-btn-tag {
   margin-left: auto;
  }

 .unlike-btn {
  font-size: 25px;
  color: #e54747;
 }

 .unlike-btn:hover {
  text-decoration: none;
 }

.card-title {
  color: #000000;
  font-size: 20px;
}

.card-title-show {
  color: #000000;
  font-size: 25px;
}

 .tag-name {
   color: #808080;
 }

 .likes-count {
  color: #808080;
 }

 .likes-count:hover {
  color: #808080;
  text-decoration: none;
 }

 .likes-count-icon {
  margin-right: 2px;
 }

.impressions-count {
  margin: 0 10px;
  color: #808080;
}

.impressions-count:hover {
  color: #808080;
  text-decoration: none;
}

.impressions-count-icon {
  margin-right: 2px;
}

 .btn-stock {
   font-size: 15px;
   color: #ffd700;
   background-color: none;
   border: 3px solid #ffd700 !important;
 }

 .btn-stock:hover, .btn-stock:active {
   color: #ffd700;
   background-color: none !important;
   border: 3px solid #ffd700 !important;
   opacity: 0.6;
 }

 .btn-stock-undo {
   font-size: 15px;
   color: #8f6552;
   background-color: #ffd700;
   border: 1px solid #ffd700;
 }

 .btn-stock-undo:hover, .btn-stock-undo:active {
   color: #8f6552;
   background-color: #ffd700 !important;
   border: 1px solid #ffd700 !important;
   opacity: 0.6;
 }

.article_first_line {
  display: flex;
}

.article_bottom_line {
  display: flex;
}

.edit-delete-btn {
  margin-left: auto;
}

.stock-btn-tag {
   margin-left: auto;
  }

// _form

.article_title_textfeild {
  width: 730px;
  height: 35px;
}

.tag_label {
  margin-top: 10px;
}

.tag_label_name {
  margin-right: 10px;
}

.article_content {
  margin-top: 10px;
}

.article_content_textarea {
  width: 730px;
  height: 400px;
}

.new-article-register-btn {
  display: flex;
}
.btn-new-article-register {
  color: #ffffff;
  font-size: 15px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
  margin-left: auto;
}

// confirm
.article-title-confirm {
  font-size: 25px;
}

.btn-new-article-confirm-register {
  color: #ffffff;
  font-size: 15px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
  margin-top: 50px;
  margin-left: auto;
}

.btn-new-article-back {
  color: #8f6552;
  font-size: 15px;
  background-color: #ffffff;
  border: 1px solid #8f6552;
  margin: 50px 20px 0 15px;
}
