// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_icon_image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
}

#name_search_feild {
  width: 500px;
  margin-right: 10px;
}

.card-body {
  background-color: #ffffff;
  width: 700px;
  border-bottom: solid 1px #d3d3d3;
  padding: 10px 10px;
}
