.sign_up_field {
  width: 250px;
}

.edit_profile_field {
  width: 250px;
}

.sign_in_field {
  width: 250px;
}

.btn-sign-up {
  color: #ffffff;
  font-size: 18px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
  margin-top: 10px;
  margin-left: 200px;
}

.btn-edit-profile {
  color: #ffffff;
  font-size: 18px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
  margin-top: 10px;
  margin-left: 200px;
}

.edit-profile-image {
  width: 120px;
  height: 90px;
  margin-bottom: 10px;
}

.btn-sign-in {
  color: #ffffff;
  font-size: 18px;
  background-color: #8f6552;
  border: 1px solid #8f6552;
  margin-top: 10px;
  margin-left: 165px;
}
