.tops-body {
  margin-top: 30px;
}

.tops-body-main {
  margin-top: 30px;
  text-align: center;
}

.tops-main-title {
  margin: 20px 0;
}

.tops-title {
  color: #8f6552;
  margin: 40px 0 20px 0;
}

.tops-content {
  font-size: 15px;
  margin-left: 50px;
}

.tops-footer{
  text-align: center;
  margin: 50px 0 20px 0;
}

.guest_login_btn {
  margin-top: 30px;
}

.btn-guide {
  color: #8f6552;
  font-size: 20px;
  background-color: #ffffff;
  border: 1px solid #8f6552;
}
